<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">About </div>
<div class="panel-body">
<div>
 <h3>Infos : </h3>
      <ul class="list-group">
       <li class="list-group-item">
      Nom :{{info.nom}}
      </li>
      <li class="list-group-item">
         Email. {{info.email}}
       </li>
         <li class="list-group-item">
          Telephone :  {{info.tel}}
       </li>
      </ul>
      </div>
      <form #f="ngForm"  (ngSubmit)="OnAddCommt(f.value)">
<div class="form-group">
<label class="control-label">Message : </label>
<input  name="message" ngModel type="text" >
<!-- ajouter un properte angular -->
<button type="submit" >Ajouter Commenteur </button>
</div>
</form>
      <div>
        <h2>commentaires :</h2>
        <ul class="list-group" >
          <li class="list-group-item"  *ngFor="let c of comments"> {{c.message}} 
              <span>{{c.data |date:'dd/MM/yyyy:HH:mm:ss'}}</span>

          </li>
        </ul>
      </div>
        
</div>  
</div>
</div>


